* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

.backopacity {
    width: 100%;
    color: #000000;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
}

.header {
    background-color: #33b5e5;
    color: #ffffff;
    padding: 15px;
}

.footer {
    background-color: #272636;
    color: #ffffff;
    text-align: left;
    font-size: 12px;
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}

/* Top nav */
.topnav {
    overflow: hidden;
    background-color: #6CAFEC;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav .icon {
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* ---------------------------------------------------------------------------- */


/* Side nav */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #E6FAFC;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav hr {
    border: 2px solid #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: black;
}

.sidenav a:hover hr {
    border: 2px solid black;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#Jumbo {
    transition: margin-left .5s;

}

#myTopnav {
    transition: margin-left .5s, width .5s;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/* ---------------------------------------------------------------------------- */


/* Login Form */
.login {
    background: url('../../img/3568984.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 150%;
}

#card {
    background: #E6FAFC;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 435px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;

    border: 1px solid #6CAFEC;
    box-sizing: border-box;
    border-radius: 63px;


}

#card-content {
    padding: 6px 44px;
}

#card-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.underline-title {
    position: absolute;
    border: 1px solid #000000;
    transform: rotate(-0.25deg);


    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 235px;
}

.login a {
    text-decoration: none;
}

.login label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.login input[type=text],
.login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #6CAFEC;
    box-sizing: border-box;
}

.login button {
    background-color: #6CAFEC;
    box-shadow: 0px 1px 8px #272636;
    border-radius: 21px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #6CAFEC;
    cursor: pointer;
    width: 100%;
    font-family: Roboto;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 100px;
}

.login button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

.login span.psw {
    float: right;
    padding-top: 16px;
}


.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#submit-btn {
    background-color: #6CAFEC;
    box-shadow: 0px 1px 8px #272636;
    border-radius: 21px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #6CAFEC;
    cursor: pointer;
    width: 100%;
    font-family: Roboto;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 150px;
}

#signup {
    color: #272636;

    font-family: Roboto;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;

}

#submit-btn:hover {
    box-shadow: 0px 1px 18px #272636;
}

/* ---------------------------------------------------------------------------- */

/* Button */
@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.imglogout {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.blogout {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 25px;
    background-color: red;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

a.blogout:hover {
    width: 160px;
}

a.blogout:hover .logout {
    opacity: .9;
}

a.blogout {
    text-decoration: none;
    padding-right: 40px;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.button {
    text-decoration: none;
}

.btable {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 1% 4%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}

a.btable {
    text-decoration: none;
}

.buttonGreen {
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
}

.buttonGreen:hover {

    background-color: white;
    color: black;
}

.buttonBlue {
    background-color: #008CBA;
    color: white;
    border: 2px solid #008CBA;
}

.buttonBlue:hover {

    background-color: white;
    color: black;
}

.buttonRed {
    background-color: #f44336;
    color: white;
    border: 2px solid #f44336;
}

.buttonRed:hover {

    background-color: white;
    color: black;
}


/* ---------------------------------------------------------------------------- */

/* Div Tabel */
.data_tabel {
    background-color: lightgray;
    margin: 3% 0% 3% 0%;
    border-radius: 10px;
}

/* ---------------------------------------------------------------------------- */

/* Tabel Data */
.search_bar {
    background-image: url('../../img/research.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 4px;
    margin-left: auto;
}

.data_tb {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.data_tb td,
.data_tb th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data_tb tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data_tb tr:hover {
    background-color: #ddd;
}

.data_tb th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

/* ---------------------------------------------------------------------------- */

/* Dropdown */
select {
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 12px;
}

/* ---------------------------------------------------------------------------- */

/* Form */
.form_in input[type=text],
.form_in select,
.form_in textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.form_in label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.form_in input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.form_in input[type=submit]:hover {
    background-color: #45a049;
}

.form_in .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form_in .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.form_in .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .form_in .col-25,
    .form_in .col-75,
    .form_in input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* ---------------------------------------------------------------------------- */

/* Input File */

.wrapperfile {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapperfile .file-upload {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #FFFFFF;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #2590EB 50%, #FFFFFF 50%);
    background-size: 100% 200%;
    transition: all 1s;
    color: #FFFFFF;
    font-size: 50px;
}

.wrapperfile .file-upload input[type='file'] {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}

.wrapperfile .file-upload:hover {
    background-position: 0 -100%;
    color: #2590EB;
}

/* ---------------------------------------------------------------------------- */

/* Data Pasien */

.card_pasien {
    min-width: 300px;
    max-width: 600px;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    margin: auto;
    padding: 5px 8px;
}

/* ---------------------------------------------------------------------------- */

/* REGISTER  */

.h1 {
    position: re;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    left: 150px;

}

.container_r {
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    background: url('../../img/4587.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    width: 100%;
}

#form_reg {
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

#form_reg input[type=text],
#form_reg [type=number],
#form_reg [type=date],
#form_reg select,
#form_reg textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #6CAFEC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#form_reg button[type=submit] {
    background-color: #6CAFEC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form_reg button[type=submit]:hover {
    background-color: #6CAFEC;
}

/* --------------------------------------------------------------------------- */

/* Button Back */

.btn,
.btnbutton {
    background: #1d1d1d;
    color: white;
    border: none;
    font-size: 10px;
    font-size: 1rem;
    background-color: #1d1d1d;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 14px 21px;
    padding: 1.4rem 2.1rem;
    border: 2px solid #1d1d1d;
    transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
    display: inline-block;
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    min-width: 20rem;
    outline: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media (min-width: 400px) {

    .btn,
    .btnbutton {
        width: auto;
    }
}

@media (min-width: 800px) {

    .btn,
    .btnbutton {
        font-size: 1.1rem;
        padding: 1.6rem 2.8rem;
    }
}

.btn:hover,
.btnbutton:hover {
    background: #2a2a2a;
    border-color: #2a2a2a;
    color: #fff;
}

.btn-border {
    background-color: transparent;
    color: #1d1d1d;
}

.btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-arrow:hover span {
    transform: translate3d(-1rem, 0, 0);
}

.btn-arrow svg {
    position: absolute;
    width: 1.1em;
    right: 0px;
    right: 0rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn-arrow svg * {
    stroke-width: 5;
    stroke-color: transparent;
}

.btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
}

/* --------------------------------------------------------------------------- */
