* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main {
    margin-top: 48px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

html {
    font-family: "Lucida Sans", sans-serif;
    /* Ini keknya buat font */
}

.topnav {
    position: absolute;
    width: 1440px;
    left: 0px;
    top: 0px;

    /* hijau */

    background: #6CECCD;
}

.header {
    color: #ffffff;
    padding: 2px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu li:hover {
    background-color: #0099cc;
}

.aside {
    background-color: #33b5e5;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}



.footer {
    background-color: #272636;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    padding: 5px;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {

    /* For tablets: */
    .col-s-1 {
        width: 8.33%;
    }

    .col-s-2 {
        width: 16.66%;
    }

    .col-s-3 {
        width: 25%;
    }

    .col-s-4 {
        width: 33.33%;
    }

    .col-s-5 {
        width: 41.66%;
    }

    .col-s-6 {
        width: 50%;
    }

    .col-s-7 {
        width: 58.33%;
    }

    .col-s-8 {
        width: 66.66%;
    }

    .col-s-9 {
        width: 75%;
    }

    .col-s-10 {
        width: 83.33%;
    }

    .col-s-11 {
        width: 91.66%;
    }

    .col-s-12 {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .col-1 {
        width: 8.33%;
    }

    .col-2 {
        width: 16.66%;
    }

    .col-3 {
        width: 25%;
    }

    .col-4 {
        width: 33.33%;
    }

    .col-5 {
        width: 41.66%;
    }

    .col-6 {
        width: 50%;
    }

    .col-7 {
        width: 58.33%;
    }

    .col-8 {
        width: 66.66%;
    }

    .col-9 {
        width: 75%;
    }

    .col-10 {
        width: 83.33%;
    }

    .col-11 {
        width: 91.66%;
    }

    .col-12 {
        width: 100%;
    }
}


/* Top nav */
.topnav {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6CECCD;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a.atop {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a.atop:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.atop.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

@media screen and (max-width: 600px) {
    .topnav a.atop:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav .blogout:not(:first-child) {
        display: none;
    }

    .topnav .blogout {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a.atop {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .blogout {
        float: none;
        display: block;
        text-align: left;
    }
}

/* BUTTON */

@import url(https://fonts.googleapis.com/css?family=Oswald:400);

.imglogout {
    width: 25px;
    border-radius: 50px;
    float: left;
}

.logout {
    font-size: .8em;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: -18px;
    bottom: -4px;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity .45s;
    -webkit-transition: opacity .35s;

}

.blogout {
    text-decoration: none;
    float: right;
    padding: 12px;
    color: white;
    width: 25px;
    background-color: red;
    transition: width .35s;
    -webkit-transition: width .35s;
    overflow: hidden
}

a.blogout:hover {
    width: 160px;
}

a.blogout:hover .logout {
    opacity: .9;
}

a.blogout {
    text-decoration: none;
    padding-right: 40px;
}


/* --------------------------------------------------------------------------- */


/* LOGIN */

.login {
    background: url('../../img/3568984.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 150%;

}

#card {
    background: #E6FAFC;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.65);
    height: 435px;
    margin: 6rem auto 8.1rem auto;
    width: 329px;
    border: 1px solid #6CAFEC;
    box-sizing: border-box;
    border-radius: 63px;
}

#card-content {
    padding: 6px 44px;
}

#card-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 4px;
    padding-bottom: 23px;
    padding-top: 13px;
    text-align: center;
}

.underline-title {
    position: absolute;
    border: 1px solid #000000;
    transform: rotate(-0.25deg);


    height: 2px;
    margin: -1.1rem auto 0 auto;
    width: 235px;
}

.login a {
    text-decoration: none;
}

.login label {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11pt;
}

.form {
    align-items: left;
    display: flex;
    flex-direction: column;
}

.login input[type=email],
.login input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #6CAFEC;
    box-sizing: border-box;
}

.login button {
    background-color: #6CAFEC;
    box-shadow: 0px 1px 8px #272636;
    border-radius: 21px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #6CAFEC;
    cursor: pointer;
    width: 100%;
    font-family: Roboto;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 100px;
}

.login button:hover {
    opacity: 0.8;
}


.container {
    padding: 16px;
}

.login span.psw {
    float: right;
    padding-top: 16px;
}


.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

#login-btn {
    background-color: #6CAFEC;
    box-shadow: 0px 1px 8px #272636;
    border-radius: 21px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #6CAFEC;
    cursor: pointer;
    width: 100%;
    font-family: Roboto;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 150px;
}

#register {
    color: #272636;

    font-family: Roboto;
    font-size: 10pt;
    margin-top: 16px;
    text-align: center;

}

#login-btn:hover {
    box-shadow: 0px 1px 18px #272636;
}

/* ---------------------------------------------------------------------------- */

/* REGISTER  */

.h1 {
    position: re;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    left: 150px;

}

.container_r {
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    background: url('../../img/4587.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    width: 100%;
}

#form_reg {
    width: 100%;
    max-width: 900px;
    padding: 20px;
}

input[type=text],
[type=number],
[type=date],
[type=email],
[type=password],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #6CAFEC;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button[type=submit] {
    background-color: #6CAFEC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color: #6CAFEC;
}

/* --------------------------------------------------------------------------- */

/* HOME */

#home_login {
    width: 100%;
    margin: 20px auto;
    background: #fff;
    overflow: hidden;
    padding: 10px;
}

#home_btn {

    width: 234.22px;
    height: 50px;
    top: 154px;
    background: #6CAFEC;
    border-radius: 50px;
}

#home_btn:hover {
    background-color: blue;
}



#home_grid {
    margin-left: 5%;
    padding: 1px 16px;

}

input.search_bar {
    background-image: url('../../img/research.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 4px;
    margin-left: auto;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    height: 40%;
    border-radius: 5px;
    float: left;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card .container {
    padding: 0px 16px 10px 16px;
}

.card p {
    height: 100px;
    overflow-y: auto;
    padding: 2px;
}

.card img {
    border-radius: 5px 5px 0 0;
}



button[type=button] {
    background-color: blue;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* --------------------------------------------------------------------------- */

/* RIWAYAT */

#riwayat_data {
    width: 100%;
    margin: 20px auto;
    background: #6FCF97;
    overflow: hidden;
    padding: 10px;
    border-radius: 10px;
}

#riwayat_bt {
    background-color: white;
    width: 15%;
    color: #272636;
    padding: 12px 20px;
    border: 1px solid #219653;
    border-radius: 24px;
    cursor: pointer;
    margin-left: 43%;
}

/* -------------------------------------------------------------------- */

/* POLI1 */

#form_cont {
    width: 100%;
    margin: 20px auto;
    background: #6CAFEC;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

#daftar_btn {
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 1px 8px #272636;
    border-radius: 5px;
    color: #272636;
    padding: 14px 20px;
    margin: 8px 0;
    border: 1px solid #272636;
    cursor: pointer;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 42.3px;
    margin: 0 auto;
    margin-top: 20px;
    transition: 0.25s;
    width: 150px;
}

#layanan_cont {
    width: 100%;
    margin: 20px auto;
    background: #fff;
    overflow: hidden;
    padding: 10px;
    border-radius: 5px;
}

/* -------------------------------------------------------------------- */

/* Button Back */

.btn,
.btnbutton {
    background: #1d1d1d;
    color: white;
    border: none;
    font-size: 10px;
    font-size: 1rem;
    background-color: #1d1d1d;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    padding: 14px 21px;
    padding: 1.4rem 2.1rem;
    border: 2px solid #1d1d1d;
    transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);
    display: inline-block;
    cursor: pointer;
    width: 100%;
    min-width: 200px;
    min-width: 20rem;
    outline: none;
    vertical-align: middle;
    text-align: center;
    position: relative;
    overflow: hidden;
}

@media (min-width: 400px) {

    .btn,
    .btnbutton {
        width: auto;
    }
}

@media (min-width: 800px) {

    .btn,
    .btnbutton {
        font-size: 1.1rem;
        padding: 1.6rem 2.8rem;
    }
}

.btn:hover,
.btnbutton:hover {
    background: #2a2a2a;
    border-color: #2a2a2a;
    color: #fff;
}

.btn-border {
    background-color: transparent;
    color: #1d1d1d;
}

.btn-arrow {
    position: relative;
    transition: background-color 300ms ease-out;
}

.btn-arrow span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
}

.btn-arrow:hover span {
    transform: translate3d(-1rem, 0, 0);
}

.btn-arrow svg {
    position: absolute;
    width: 1.1em;
    right: 0px;
    right: 0rem;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms ease-out;
    will-change: right, opacity;
}

.btn-arrow svg * {
    stroke-width: 5;
    stroke-color: transparent;
}

.btn-arrow:hover svg {
    opacity: 1;
    right: -2rem;
}

/* --------------------------------------------------------------------------- */

/* Antrian */

.back_antrian {
    margin: 10px;
    border-radius: 10px;
    background-color: gray;
    margin-top: 80px;
}

.antrian {
    width: 100%;
    max-width: 1000px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    background-color: white;
}


#status_bt {
    background-color: white;
    width: 15%;
    color: #272636;
    padding: 12px 20px;
    border: 1px solid #272636;
    border-radius: 24px;
    cursor: pointer;
    min-width: 200px;
}

.icon_status {
    height: 100%;
    width: 100%;
    min-width: 40px;
    min-height: 40px;
    max-width: 60px;
    max-height: 60px;
    background-color: #bbb;
    border-radius: 50%;
    margin-top: -40px;
    margin-left: -40px;
    display: block;
}

/* --------------------------------------------------------------------------- */
